force-app/main/default/flows/Custome_Work_Order_Estimation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that invokes the Apply Asset Service Lifecycle Management Pricing API to apply coverage discounts.</description>
        <name>ApplAssetSvcLifecycleManagementPricing</name>
        <label>Apply Asset Service Lifecycle Management Pricing</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>aslmHeadlessPricing</actionName>
        <actionType>aslmHeadlessPricing</actionType>
        <connector>
            <targetReference>ScreenReviewQuoteSummary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetPricingStatusVariableFailed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextDefinitionId</name>
            <value>
                <stringValue>WorkEstimationCoveragesContext__stdctx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextMappingId</name>
            <value>
                <stringValue>IFSQuoteLineItemEntityMapping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricingProcedureId</name>
            <value>
                <stringValue>Work_Order_Est_Default_Pricing_Procedure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricingData</name>
            <value>
                <elementReference>AddWorkSourcesWorkTypesCoveragesPricingOrchestrator.pricingData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSkipWaterfall</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>persistContext</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taggedData</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipDiscovery</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>aslmHeadlessPricing</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PricingStatus</assignToReference>
            <name>pricingProcessStatus</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the PricingStatus variable to Completed.</description>
        <name>SetPricingStatusVariableCompleted</name>
        <label>Set Pricing Status Variable</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>PricingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenReviewQuoteSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the PricingStatus variable to Failed.</description>
        <name>SetPricingStatusVariableFailed</name>
        <label>Set Pricing Status Variable</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PricingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenReviewQuoteSummary</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the key prefix of work order records.</description>
        <name>WorkOrderKeyPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0WO</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the pricing API should be executed by checking if the AddWorkSourcesWorkTypesCoveragesPricingOrchestrator output has pricing data.</description>
        <name>HavePricingData</name>
        <label>Have Pricing Data?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>ApplAssetSvcLifecycleManagementPricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>DoesnNotHavePricingData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddWorkSourcesWorkTypesCoveragesPricingOrchestrator.pricingData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPricingStatusVariableCompleted</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether recordId is for a work order by checking if the SourceContext formula matches the WorkOrderKeyPrefix value.</description>
        <name>IsRecordIdForAWorkOrder</name>
        <label>Is Record ID for a Work Order?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenAddWorkSourceWorkTypesCoverages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsForWorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkOrderKeyPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayExistingWorkOrder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Release 254: Changes corresponding to WOE in release 254</description>
    <environments>Default</environments>
    <formulas>
        <description>Extracts the first 3 characters from the recordId variable.</description>
        <name>SourceContext</name>
        <dataType>String</dataType>
        <expression>LEFT({!EnterQuoteDetails.recordId}, 3)</expression>
    </formulas>
    <interviewLabel>Custome Work Order Estimation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Work Order Estimation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Screen to enter the quote details</description>
        <name>Enter_Quote_Details</name>
        <label>Enter Quote Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsRecordIdForAWorkOrder</targetReference>
        </connector>
        <fields>
            <name>EnterQuoteDetailsHeader</name>
            <extensionName>workest:stepHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>EnterQuoteDetails</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EnterQuoteDetails</name>
            <extensionName>workest:enterQuoteDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentQuoteId</name>
                <value>
                    <elementReference>QuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EnterQuoteDetailsFooter</name>
            <extensionName>workest:stepFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>EnterQuoteDetails</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workSourceDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EnterQuoteDetailsDataService</name>
            <extensionName>workest:dataService</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyManualDiscountListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mergeWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrdersToWorkSourcesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkTypesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeOperationListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EnterQuoteDetailsOrchestrator</name>
            <extensionName>workest:eventOrchestrator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bookServiceAppointmentListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkTypesModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlNavigationListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectCoverageModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generateProposalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to add work sources, work types, and coverages.</description>
        <name>ScreenAddWorkSourceWorkTypesCoverages</name>
        <label>Add Work Source, Work Types, &amp; Coverages</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HavePricingData</targetReference>
        </connector>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesHeader</name>
            <extensionName>workest:stepHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>AddWorkSourcesWorkTypesCoverages</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesQuoteDetail</name>
            <extensionName>workest:quoteDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesWorkSourceList</name>
            <extensionName>workest:workSourceList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSummary</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workSourceSelectionPageSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCoverages</name>
                <value>
                    <elementReference>SelectedCoverages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>launchActionType</name>
                <value>
                    <elementReference>EnterQuoteDetails.actionType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountOptions</name>
                <value>
                    <stringValue>[0,10,20,30]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validWorkOrderStatuses</name>
                <value>
                    <stringValue>New,Draft,In Progress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesFooter</name>
            <extensionName>workest:stepFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>AddWorkSourcesWorkTypesCoverages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPreviousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workSourceDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesDataService</name>
            <extensionName>workest:dataService</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyManualDiscountListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mergeWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrdersToWorkSourcesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesPricingOrchestrator</name>
            <extensionName>workest:pricingOrchestrator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visitProductIdentifierField</name>
                <value>
                    <stringValue>Product2.Family</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visitProductIdentifierValue</name>
                <value>
                    <stringValue>Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddWorkSourcesWorkTypesCoveragesOrchestrator</name>
            <extensionName>workest:eventOrchestrator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bookServiceAppointmentListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generateProposalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a list of existing work orders.</description>
        <name>ScreenDisplayExistingWorkOrder</name>
        <label>Display Existing Work Order</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenAddWorkSourceWorkTypesCoverages</targetReference>
        </connector>
        <fields>
            <name>SelectExistingWorkOrdersHeader</name>
            <extensionName>workest:stepHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>SelectExistingWorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectExistingWorkOrdersQuoteDetail</name>
            <extensionName>workest:quoteDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectExistingWorkOrdersWorkOrderList</name>
            <extensionName>workest:workOrderList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validWorkOrderStatuses</name>
                <value>
                    <stringValue>New,Draft,In Progress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectExistingWorkOrdersDataService</name>
            <extensionName>workest:dataService</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyManualDiscountListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mergeWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkTypesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeOperationListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectExistingWorkOrdersOrchestrator</name>
            <extensionName>workest:eventOrchestrator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bookServiceAppointmentListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkTypesModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generateProposalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectCoverageModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectExistingWorkOrdersFooter</name>
            <extensionName>workest:stepFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>SelectExistingWorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPreviousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSkipButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workSourceDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to finish the quote approval steps.</description>
        <name>ScreenFinishQuoteApproval</name>
        <label>Finish Quote Approval</label>
        <locationX>182</locationX>
        <locationY>1256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishQuoteApprovalHeader</name>
            <extensionName>workest:stepHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>FinishQuoteApproval</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishQuoteApprovalQuoteDetail</name>
            <extensionName>workest:quoteDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishQuoteApproval</name>
            <extensionName>workest:finishQuoteApproval</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validWorkOrderStatuses</name>
                <value>
                    <stringValue>New,Draft,In Progress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishQuoteApprovalFooter</name>
            <extensionName>workest:stepFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDoneButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPreviousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>FinishQuoteApproval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workSourceDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishQuoteApprovalDataService</name>
            <extensionName>workest:dataService</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyManualDiscountListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrdersToWorkSourcesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkTypesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeOperationListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishQuoteApprovalOrchestrator</name>
            <extensionName>workest:eventOrchestrator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkTypesModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generateProposalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectCoverageModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to review the quote summary.</description>
        <name>ScreenReviewQuoteSummary</name>
        <label>Review Quote Summary</label>
        <locationX>182</locationX>
        <locationY>1148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenFinishQuoteApproval</targetReference>
        </connector>
        <fields>
            <name>ReviewQuoteSummaryHeader</name>
            <extensionName>workest:stepHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>ReviewQuoteSummary</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewQuoteSummaryQuoteDetail</name>
            <extensionName>workest:quoteDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewQuoteSummaryWorkSourceList</name>
            <extensionName>workest:workSourceList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loaderEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSummary</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workSourceSelectionPageSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedCoverages</name>
                <value>
                    <elementReference>AddWorkSourcesWorkTypesCoveragesWorkSourceList.selectedCoverages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountOptions</name>
                <value>
                    <stringValue>[0,10,20,30]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pricingCallStatus</name>
                <value>
                    <elementReference>PricingStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewQuoteSummaryFooter</name>
            <extensionName>workest:stepFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>launchRecordId</name>
                <value>
                    <elementReference>EnterQuoteDetails.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepName</name>
                <value>
                    <stringValue>ReviewQuoteSummary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSaveAndCloseButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPreviousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteIdInput</name>
                <value>
                    <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showGenerateProposalButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>generateProposalOmniScriptName</name>
                <value>
                    <stringValue>ifs/DocumentGenerationV2/Multi-Language</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderDataListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewQuoteSummaryDataService</name>
            <extensionName>workest:dataService</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createWorkSourceListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mergeWorkOrderListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrdersToWorkSourcesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeWorkTypesListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateQuoteStatusListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeOperationListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewQuoteSummaryOrchestrator</name>
            <extensionName>workest:eventOrchestrator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventCoRelationId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkSourceModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bookServiceAppointmentListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelWorkOrderModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteWorkTypesModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editWorkTypeModalListenerDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>workest__CreateWorkEstimation</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the status of pricing.</description>
        <name>PricingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the current quote for which the user is entering details.</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EnterQuoteDetails.currentQuoteId</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EnterQuoteDetails.recordId</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the selected coverages from the ScreenAddWorkSourceWorkTypesCoverages element.</description>
        <name>SelectedCoverages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AddWorkSourcesWorkTypesCoveragesWorkSourceList.selectedCoverages</elementReference>
        </value>
    </variables>
</Flow>
