force-app/main/default/flows/How_to_experience_TMF_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>chCreateProductOrder</name>
        <choiceText>Create Product Order</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chCreateTroubleTicket</name>
        <choiceText>Create Trouble Ticket</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>chCreateTroubleTicketNew</name>
        <choiceText>Create a trouble ticket</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chGetProductOrder</name>
        <choiceText>Get Product Order by Id</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chListallProductOrders</name>
        <choiceText>List Product Orders</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chListallTroubleTickets</name>
        <choiceText>List all trouble tickets</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chRetrieveTroubleTicket</name>
        <choiceText>Retrieve trouble ticket by Id</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateCatalog</name>
        <choiceText>Create Product Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreateProductCatalog</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreateCustomer</name>
        <choiceText>Create Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductCatalog</name>
        <choiceText>Create Product Catalog</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductCategory</name>
        <choiceText>Create Product Category</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductOffering</name>
        <choiceText>Create Product Offering</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductOfferingPrice</name>
        <choiceText>Create Product Offering Price</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductSpecification</name>
        <choiceText>Create Product Specification</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateQuote</name>
        <choiceText>Create Quote</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>DeleteCustomer</name>
        <choiceText>Delete Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>getallproducts_637</name>
        <choiceText>List all Products</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>getaproduct_637</name>
        <choiceText>Retrieve a Product</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>GetQuote</name>
        <choiceText>Get Quote</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ListCustomers</name>
        <choiceText>List Customers</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ListQuotes</name>
        <choiceText>List Quotes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>RetrieveCustomer</name>
        <choiceText>Retrieve Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF620</name>
        <choiceText>TMF 620 Product Catalog Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF621</name>
        <choiceText>TMF 621 Trouble Ticket Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF622</name>
        <choiceText>TMF 622 Product Ordering</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF629</name>
        <choiceText>TMF 629 Customer Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF637</name>
        <choiceText>TMF 637 Inventory Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF648</name>
        <choiceText>TMF 648 Customer Quote Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>UpdateCustomer</name>
        <choiceText>Update Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Selection_of_Inbound_API</name>
        <label>Check Selection of Inbound API</label>
        <locationX>729</locationX>
        <locationY>832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TMF_620</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF620</targetReference>
            </connector>
            <label>TMF 620</label>
        </rules>
        <rules>
            <name>TMF_621</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF621</targetReference>
            </connector>
            <label>TMF 621</label>
        </rules>
        <rules>
            <name>TMF_622</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF622</targetReference>
            </connector>
            <label>TMF 622</label>
        </rules>
        <rules>
            <name>TMF_637</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF637</targetReference>
            </connector>
            <label>TMF 637</label>
        </rules>
        <rules>
            <name>TMF_648</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF648</targetReference>
            </connector>
            <label>TMF 648</label>
        </rules>
        <rules>
            <name>TMF_629</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF629</targetReference>
            </connector>
            <label>TMF 629</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Selection</name>
        <label>Check User Selection</label>
        <locationX>728</locationX>
        <locationY>1249</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Product_Catalog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog</targetReference>
            </connector>
            <label>Selected Product Catalog</label>
        </rules>
        <rules>
            <name>Selected_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog_0</targetReference>
            </connector>
            <label>Selected Category</label>
        </rules>
        <rules>
            <name>Selected_Product_Specification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog_0_0</targetReference>
            </connector>
            <label>Selected Product Specification</label>
        </rules>
        <rules>
            <name>Selected_Product_Offering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog_0_0_0</targetReference>
            </connector>
            <label>Selected Product Offering</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Selection_TMF_622</name>
        <label>Check User Selection TMF 622</label>
        <locationX>252</locationX>
        <locationY>832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Product_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>List Product Orders</label>
        </rules>
        <rules>
            <name>Get_Product_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <label>Get Product Order</label>
        </rules>
        <rules>
            <name>Create_Product_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateTroubleTicket_0</targetReference>
            </connector>
            <label>Create Product Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection629</name>
        <label>Check your selection</label>
        <locationX>268</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Customers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetCustomers</targetReference>
            </connector>
            <label>Get Customers</label>
        </rules>
        <rules>
            <name>Create_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateCustomer</targetReference>
            </connector>
            <label>Create Customer</label>
        </rules>
        <rules>
            <name>Retrieve_a_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrRetrieveAccount</targetReference>
            </connector>
            <label>Retrieve a customer</label>
        </rules>
        <rules>
            <name>Delete_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDeleteAccount</targetReference>
            </connector>
            <label>Delete Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection_621</name>
        <label>Check your selection 621</label>
        <locationX>1173</locationX>
        <locationY>831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Trouble_Tickets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option621</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetAllTickets</targetReference>
            </connector>
            <label>Get Trouble Tickets</label>
        </rules>
        <rules>
            <name>Get_a_Trouble_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sceGetTroubleTicket</targetReference>
            </connector>
            <label>Get a Trouble Ticket</label>
        </rules>
        <rules>
            <name>Create_Trouble_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option621</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateTroubleTicket</targetReference>
            </connector>
            <label>Create Trouble Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection_637</name>
        <label>Check your selection 637</label>
        <locationX>1175</locationX>
        <locationY>1015</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_a_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option637</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_getaproduct_637</targetReference>
            </connector>
            <label>Get a Product</label>
        </rules>
        <rules>
            <name>Get_all_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option637</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_getallproduct_637</targetReference>
            </connector>
            <label>Get all Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection_648</name>
        <label>Check your selection 648</label>
        <locationX>260</locationX>
        <locationY>1026</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Quotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option648</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetAllQuotes</targetReference>
            </connector>
            <label>List Quotes</label>
        </rules>
        <rules>
            <name>Get_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option648</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetAQuote</targetReference>
            </connector>
            <label>Get Quote</label>
        </rules>
        <rules>
            <name>Create_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option648</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateQuote</targetReference>
            </connector>
            <label>Create Quote</label>
        </rules>
    </decisions>
    <description>Updated for 246 Release</description>
    <environments>Default</environments>
    <interviewLabel>How to experience TMF API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>How to experience TMF API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Catalog_Id</name>
        <label>Get Catalog Id</label>
        <locationX>738</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Inbound_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catalog Wholesale Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__Catalog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_DIstribution</name>
        <label>Get Content Distribution</label>
        <locationX>736</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Catalog_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>736</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_DIstribution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMF- Create Catalog</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Product_Catalog</name>
        <label>Product Catalog</label>
        <locationX>1054</locationX>
        <locationY>1245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateCatalogImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateCatalog</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>460</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample Payload to create Catalog&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;name&quot;: &quot;Catalog Wholesale Business&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;description&quot;: &quot;Sample Catalog for demo purpose&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;catalogType&quot;: &quot;ProductCatalog&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;version&quot;: &quot;1.0&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;validFor&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&amp;nbsp;&amp;nbsp;                    &quot;startDateTime&quot;: &quot;2020-08-29T00:00:00Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&amp;nbsp;&amp;nbsp;                    &quot;endDateTime&quot;: &quot;2024-03-25T00:00:00Z&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;             &amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;lifecycleStatus&quot;: &quot;Active&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;@type&quot;: &quot;Catalog&quot;,&lt;/p&gt;&lt;p&gt;&quot;relatedParty&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                            {&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                              &quot;id&quot;: &quot;012345678&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                              &quot;name&quot;: &quot;Stardust Enterprises&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                              &quot;role&quot;: &quot;Business&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                              &quot;@referredType&quot;: &quot;Account&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                              &quot;@type&quot;: &quot;RelatedParty&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;                           }&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;                          ]&lt;/p&gt;&lt;p&gt;    }&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Catalog_0</name>
        <label>Product Catalog</label>
        <locationX>346</locationX>
        <locationY>1243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateCategory</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>540</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample Payload to create Category&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px;&quot;&gt;{&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&quot;description&quot;: &quot;Specifies a category to hold all available cloud service offers.&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&quot;lifecycleStatus&quot;: &quot;Active&quot;,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&quot;name&quot;: &quot;Cloud Services&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;validFor&quot;: {&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;startDateTime&quot;: &quot;2020-08-24T00:00:00Z&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;endDateTime&quot;: &quot;2024-03-25T00:00:00Z&quot;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;relatedParty&quot;: [&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;id&quot;: &quot;012345678&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;name&quot;: &quot;Stardust Enterprises&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;role&quot;: &quot;Business&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;@referredType&quot;: &quot;Account&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&quot;@type&quot;: &quot;RelatedParty&quot;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;]&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&quot;isRoot&quot;: true,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&quot;subCategory&quot;: [&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;{&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Cloud Storage&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@type&quot;: &quot;CategoryRef&quot;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;{&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Software as a Service&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@type&quot;: &quot;CategoryRef&quot;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;],&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&quot;@type&quot;: &quot;Category&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Catalog_0_0</name>
        <label>Product Catalog</label>
        <locationX>350</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductSpecificationImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductSpecification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>600</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample Payload to create Product Specification&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&quot;description&quot;: &quot;Powerful product that integrates with a firewall, including intrusion prevention, advanced malware protection, cloud-based sandboxing, URL filtering, endpoint protection, web gateway, email security, network traffic analysis, network access control and CASB.&quot;,&lt;/p&gt;&lt;p&gt;&quot;name&quot;: &quot;Cisco Firepower1&quot;,&lt;/p&gt;&lt;p&gt;“targetProductSchema” : {&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;“@type”: “Business Internet Object Type”&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;},&lt;/p&gt;&lt;p&gt;&quot;productNumber&quot;: &quot;CSC-340-NGFW&quot;,&lt;/p&gt;&lt;p&gt;&quot;lifecycleStatus&quot;: &quot;Active&quot;,&lt;/p&gt;&lt;p&gt;&quot;validFor&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;startDateTime&quot;: &quot;2020-09-23T00:00:00.0Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;endDateTime&quot;: &quot;2022-11-24T16:42:23.0Z&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;},&lt;/p&gt;&lt;p&gt;&quot;version&quot;: &quot;2.0&quot;,&lt;/p&gt;&lt;p&gt;&quot;isBundle&quot;: true,&lt;/p&gt;&lt;p&gt;&quot;productSpecCharacteristic&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;name&quot;: &quot;Number of Ports&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;description&quot;: &quot;The total Number of Ports for this parts&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;valueType&quot;: &quot;number&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;configurable&quot;: true,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;minCardinality&quot;: 1,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;maxCardinality&quot;: 1,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;isUnique&quot;: true,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;@type&quot;: &quot;ProductSpecificationCharacteristic&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;@baseType&quot;: &quot;&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&quot;productSpecCharacteristicValue&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&quot;isDefault&quot;: true,&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&quot;valueType&quot;: &quot;number&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&quot;validFor&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&quot;startDateTime&quot;: &quot;2020-09-23T00:00:00Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&quot;endDateTime&quot;: &quot;2024-11-24T00:00:00Z&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;},&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&quot;value&quot;: 8&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;}]&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;],&lt;/p&gt;&lt;p&gt;&quot;attachment&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;Product Picture&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;url&quot;: &quot;https://www.cisco.com/c/en/us/solutions/small-business/security/firewalls.html&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;mimeType&quot;: &quot;image/jpeg&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@referredType&quot;: &quot;Attachment&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@type&quot;: &quot;AttachmentRefOrValue&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@baseType&quot;: &quot;&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Catalog_0_0_0</name>
        <label>Product Catalog</label>
        <locationX>736</locationX>
        <locationY>1482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductSpecificationImage_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductOffer1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayImagePO2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductOffer2</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayImagePO3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductOffer3</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample Payload to create Product Offering&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;&quot;name&quot;: “Airtel Wifi Router&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&quot;description&quot;: “Airtel Wifi Router with 1000Mbps Bandwidth&quot;,&lt;/p&gt;&lt;p&gt;&quot;isSellable&quot;: &quot;true&quot;,&lt;/p&gt;&lt;p&gt;&quot;isBundle&quot;: &quot;false&quot;,&lt;/p&gt;&lt;p&gt;&quot;productNumber&quot;: “Airtel_Wifi_Router&quot;,&lt;/p&gt;&lt;p&gt;&quot;productOfferingPrice&quot;:{&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;name&quot;: &quot;Airtel WiFi Router PriceList Entry&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;description&quot;: &quot;Recurring Monthly Price for Router&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;isBundle&quot; : &quot;true&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;price&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;							&quot;taxIncludedAmount&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;				&quot;value&quot;: 30,&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;				&quot;unit&quot;: &quot;USD&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;					}&lt;/p&gt;&lt;p class=&quot;ql-indent-5&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;						&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;priceType&quot;: &quot;Recurring&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;recurringChargePeriod&quot;: &quot;Monthly&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;lifecycleStatus&quot; :&quot;Active&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;						&quot;validFor&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;									“startDateTime&quot;: &quot;2022-08-25T00:00:00Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;									“endDateTime&quot;: &quot;2024-05-23T00:00:00Z&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;		&amp;nbsp;&amp;nbsp;						&amp;nbsp;}&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;					},&lt;/p&gt;&lt;p&gt;&quot;productSpecification&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&quot;id&quot;: &quot;dbd23067-bc2d-562c-08b6-7fa7d6032042&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;},&lt;/p&gt;&lt;p&gt;&quot;attachment&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;description&quot;: &quot;This attachment gives a block diagram of the firewall.&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;mimeType&quot;: &quot;image/jpeg&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;url&quot;: &quot;https://m.media-amazon.com/images/I/41Q04ArdEuL._SL1000_.jpg&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;}],&lt;/p&gt;&lt;p&gt;&quot;category&quot; : [&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;id&quot; : &quot;8ad6f687-56aa-9ccd-bbc3-5f01214018d2&quot; ,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;name&quot; : &quot;Cloud Storage&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;],&lt;/p&gt;&lt;p&gt;&quot;version&quot;: &quot;1.0 &quot;,&lt;/p&gt;&lt;p&gt;&quot;lifecycleStatus&quot;: &quot;Active&quot;,&lt;/p&gt;&lt;p&gt;&quot;validFor&quot;: {&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;endDateTime&quot;: &quot;2022-08-25T00:00:00Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;startDateTime&quot;: &quot;2022-05-23T00:00:00Z&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sceGetTroubleTicket</name>
        <label>sceGetTroubleTicket</label>
        <locationX>1256</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetAllTickets</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To get the details of a ticket (cases) use the following URL- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;/services/apexrest/vlocity_cmt/tmforum/troubleticket/v57.0/troubleticket/{ID}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;where ID is &quot;casenumber&quot; field in the Case Object.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_getallproduct_637</name>
        <label>scr_getallproduct_637</label>
        <locationX>1417</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxt_getallproducts_637</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Resource URL-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use the below URL to retrieve detail of all assets&lt;/p&gt;&lt;p&gt;/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product?fields=name,isBundle,isCustomerVisible&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_getaproduct_637</name>
        <label>scr_getaproduct_637</label>
        <locationX>1424</locationX>
        <locationY>1002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scr_getaproduct_637_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_getaproduct_637_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxt_getaproduct_sample</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Resource URL-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use the below URL to retrieve detail about a specific asset&lt;/p&gt;&lt;p&gt;/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product/&amp;lt;vlocity_cmt__AssetReferenceId__c&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;where &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;vlocity_cmt__AssetReferenceId__c&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;is an attribute in the asset entity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sample Request-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product/a2af2a93-c5c8-e577-0a6e-51c72273e106&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sample Response-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;productCharacteristic&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;valueType&quot;: &quot;Picklist&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;ATT_RT_GR&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;productPrice&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;a2l1Q000002jKwr&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;description&quot;: &quot;$74.99&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;price&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;taxIncludedAmount&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;value&quot;: 74.99,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;unit&quot;: &quot;USD&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;unitOfMeasure&quot;: &quot;USD&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;priceType&quot;: &quot;One-time&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;relatedParty&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Stardust Enterprises&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;012345678&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@referredType&quot;: &quot;Account&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;href&quot;: &quot;/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product/a2af2a93-c5c8-e577-0a6e-51c72273e106&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;billingAccount&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Stardust Enterprises&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;012345678&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;status&quot;: &quot;Active&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;name&quot;: &quot;Home Hub Modem&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;id&quot;: &quot;a2af2a93-c5c8-e577-0a6e-51c72273e106&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;productOrderItem&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;orderItemId&quot;: &quot;0000000488&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;orderItemAction&quot;: &quot;Add&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;productOrderId&quot;: &quot;00000360&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;orderDate&quot;: &quot;2023-12-27&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;productOffering&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Home Hub Modem&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;01t1Q0000099s1yQAA&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;isCustomerVisible&quot;: true,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;isBundle&quot;: &quot;false&quot;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateCustomer</name>
        <label>scrCreateCustomer</label>
        <locationX>54</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtCreateCustomer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample request to create an Account&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;name&quot;: &quot;Sample Account TMF629&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;engagedParty&quot;:&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Sean Forbes&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;account&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;0011Q00002aSB9QQAW&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Acme&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;contactMedium&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot;: &quot;Phone&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;phoneNumber&quot;: &quot;(555) 555-1234&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot;: &quot;Fax&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;faxNumber&quot;: &quot;(555) 123-4567&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot;: &quot;Email&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;emailAddress&quot;: &quot;kevin.jarper@salesforce.com&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;]&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateQuote</name>
        <label>scrCreateQuote</label>
        <locationX>125</locationX>
        <locationY>1278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCreateQuote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateQuote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dpImgCreateQuote</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateQuote1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dpImgCreateQuote2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateQuote2</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateQuote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateQuoteSample</name>
                    <fieldText>&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;description&quot;: &quot;Sample Quote created from 648&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;category&quot;: &quot;New Customer&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;contactMedium&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot;: &quot;Email&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;contactType&quot;: &quot;Email&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;emailAddress&quot;: &quot;abc@salesforce.com&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot;: &quot;Phone&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;contactType&quot;: &quot;Phone&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;phoneNumber&quot;: &quot;(990) 099-7788&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot;: &quot;Fax&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;contactType&quot;: &quot;Fax&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;faxNumber&quot;: &quot;abc&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;relatedParty&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;3263827&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;role&quot;: &quot;Account&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@referredType&quot;: &quot;Account&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;0031Q00002jWCYOQA4&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;role&quot;: &quot;Contact&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@referredType&quot;: &quot;Contact&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;quoteItem&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;quantity&quot;: 1,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;action&quot;: &quot;add&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;productOffering&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;a55e8ab4-57c9-cdfb-a3ee-455d5665a127&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;TMF648 Product&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@type&quot;: &quot;Product2&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;]&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;]&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateTroubleTicket</name>
        <label>scrCreateTroubleTicket</label>
        <locationX>1443</locationX>
        <locationY>828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCreateTroubleTicket_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateTroubleTicket_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dpImage621CreateTicket</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateTroubleTicket</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>500</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateTroubleTicket_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateTicket</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample payload to create Trouble Ticket&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&quot;name&quot;: &quot;Parent Case New created from TMF 621&quot;,&lt;/p&gt;&lt;p&gt;&quot;status&quot;: &quot;New&quot;,&lt;/p&gt;&lt;p&gt;&quot;description&quot;: &quot;new description testing&quot;,&lt;/p&gt;&lt;p&gt;&quot;ticketType&quot;: &quot;Problem&quot;,&lt;/p&gt;&lt;p&gt;&quot;priority&quot;: &quot;High&quot;,&lt;/p&gt;&lt;p&gt;&quot;severity&quot; : &quot;Minor&quot;,&lt;/p&gt;&lt;p&gt;“Channel” : {&lt;/p&gt;&lt;p&gt;“Name” : “Phone”&lt;/p&gt;&lt;p&gt;},&lt;/p&gt;&lt;p&gt;&quot;relatedParty&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;id&quot;: &quot;001Do00000DuNCvIAN&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;Acme&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@referredType&quot; : &quot;Account&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;},&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;id&quot;: &quot;003Do00000Gn3oCIAR&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;Leanne Tomlin&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@referredType&quot; : &quot;Contact&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;],&lt;/p&gt;&lt;p&gt;&quot;attachment&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;description&quot;: &quot;Scanned disputed bill&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;mimeType&quot;: &quot;image/png&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;March Bill&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;url&quot;: &quot;&lt;a href=&quot;https://mycsp.com:7070/docloader?docnum=3534555&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://mycsp.com:7070/docloader?docnum=3534555&lt;/a&gt;&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;content&quot;: &quot;This is sample attachment in the parent case&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;],&lt;/p&gt;&lt;p&gt;&quot;note&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;author&quot;: &quot;Jack Smith&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;date&quot;: &quot;2019-05-31T07:34:45.968Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;text&quot;: &quot;This is quite important, please approach me as soon as possible&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;@type&quot;: &quot;Note&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;]&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateTroubleTicket_0</name>
        <label>scrCreateTroubleTicket</label>
        <locationX>50</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCreateTroubleTicket_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateTroubleTicket_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dpImage621CreateTicket_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateTroubleTicket</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>500</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateTroubleTicket_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateTicket_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sample payload to create Product Order&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&quot;name&quot;: &quot;Parent Case New created from TMF 621&quot;,&lt;/p&gt;&lt;p&gt;&quot;status&quot;: &quot;New&quot;,&lt;/p&gt;&lt;p&gt;&quot;description&quot;: &quot;new description testing&quot;,&lt;/p&gt;&lt;p&gt;&quot;ticketType&quot;: &quot;Problem&quot;,&lt;/p&gt;&lt;p&gt;&quot;priority&quot;: &quot;High&quot;,&lt;/p&gt;&lt;p&gt;&quot;severity&quot; : &quot;Minor&quot;,&lt;/p&gt;&lt;p&gt;“Channel” : {&lt;/p&gt;&lt;p&gt;“Name” : “Phone”&lt;/p&gt;&lt;p&gt;},&lt;/p&gt;&lt;p&gt;&quot;relatedParty&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;id&quot;: &quot;001Do00000DuNCvIAN&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;Acme&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@referredType&quot; : &quot;Account&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;},&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;id&quot;: &quot;003Do00000Gn3oCIAR&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;Leanne Tomlin&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;@referredType&quot; : &quot;Contact&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;],&lt;/p&gt;&lt;p&gt;&quot;attachment&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;description&quot;: &quot;Scanned disputed bill&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;mimeType&quot;: &quot;image/png&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;name&quot;: &quot;March Bill&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;url&quot;: &quot;&lt;a href=&quot;https://mycsp.com:7070/docloader?docnum=3534555&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://mycsp.com:7070/docloader?docnum=3534555&lt;/a&gt;&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&quot;content&quot;: &quot;This is sample attachment in the parent case&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;],&lt;/p&gt;&lt;p&gt;&quot;note&quot;: [&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;{&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;author&quot;: &quot;Jack Smith&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;date&quot;: &quot;2019-05-31T07:34:45.968Z&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;text&quot;: &quot;This is quite important, please approach me as soon as possible&quot;,&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&quot;@type&quot;: &quot;Note&quot;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;}&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;]&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrDeleteAccount</name>
        <label>scrDeleteAccount</label>
        <locationX>449</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtDeleteAccount</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Resource URL-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use the below URL to delete account&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;/services/data/v60.0/connect/comms/customermanagement/v4/customer/{ID}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;where ID is the record Id of the account entity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetAllQuotes</name>
        <label>scrGetAllQuotes</label>
        <locationX>41</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetAllQuotes</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Resource URL-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use the below URL to retrieve detail of all quotes&lt;/p&gt;&lt;p&gt;/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v1/quote/&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetAllTickets</name>
        <label>scrGetAllTickets</label>
        <locationX>1436</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetaTicket</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To get the list of all the tickets (cases) use the following URL- &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;/services/apexrest/vlocity_cmt/tmforum/troubleticket/v57.0/troubleticket/&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetAQuote</name>
        <label>scrGetAQuote</label>
        <locationX>36</locationX>
        <locationY>1141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetAQuote</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Resource URL-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use the below URL to retrieve detail of a quote&lt;/p&gt;&lt;p&gt;/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v1/quote/{ID}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;where ID&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;is an QuoteNumber in the quote entity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sample Request-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v1/quote/00000048&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sample Response-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;quoteTotalPrice&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;price&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;taxIncludedAmount&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;value&quot;: 0,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;unit&quot;: &quot;$&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;priceType&quot;: &quot;Recurring&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;price&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;taxIncludedAmount&quot;: {&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;value&quot;: 0,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;unit&quot;: &quot;$&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;priceType&quot;: &quot;One-time&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;relatedParty&quot;: [&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;{&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;role&quot;: &quot;Account&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;name&quot;: &quot;Acme&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;id&quot;: &quot;3263827&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;href&quot;: &quot;/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v48.0/Account/3263827&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;@referredType&quot;: &quot;Account&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;}&lt;/p&gt;&lt;p&gt;&amp;nbsp;],&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;version&quot;: &quot;V1&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;href&quot;: &quot;/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v48.0/quote/00000048&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;state&quot;: &quot;Draft&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;quoteDate&quot;: &quot;2023-12-29T07:31:36.000+0000&quot;,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&quot;id&quot;: &quot;00000048&quot;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetCustomers</name>
        <label>scrGetCustomers</label>
        <locationX>49</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetCustomers</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Resource URL-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use the below URL to retrieve detail of all accounts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;/services/data/v60.0/connect/comms/customermanagement/v4/customer/&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrRetrieveAccount</name>
        <label>scrRetrieveAccount</label>
        <locationX>49</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtRetrieveAccount</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Resource URL&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;/services/data/v60.0/connect/comms/customermanagement/v4/customer/{ID}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;where ID is record id of the account entity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sample Response:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;id&quot; : &quot;0011Q00002cGKf1QAG&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;href&quot; : &quot;/connect/comms/customermanagement/v4/customer/0011Q00002cGKf1QAG&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;@type&quot; : &quot;Customer&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;name&quot; : &quot;Sample Account TMF629&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;account&quot; : [ {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;id&quot; : &quot;0011Q00002aSB9QQAW&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;href&quot; : &quot;/services/data/v60.0/sobjects/account/0011Q00002aSB9QQAW&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;name&quot; : &quot;Acme&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;referredType&quot; : &quot;Service&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;description&quot; : null&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;} ],&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;engagedParty&quot; : {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;id&quot; : &quot;0031Q00002kVYTmQAO&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;href&quot; : &quot;/services/data/v60.0/sobjects/contact/0031Q00002kVYTmQAO&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;name&quot; : &quot;Sean Forbes&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;role&quot; : &quot;Individual&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&quot;contactMedium&quot; : [ {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot; : &quot;Email&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot; : {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;contactType&quot; : &quot;Email&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;emailAddress&quot; : &quot;kevin.jarper@salesforce.com&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;faxNumber&quot; : null,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;phoneNumber&quot; : null&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;}, {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot; : &quot;Fax&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot; : {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;contactType&quot; : &quot;Fax&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;emailAddress&quot; : null,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;faxNumber&quot; : &quot;(555) 123-4567&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;phoneNumber&quot; : null&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;}, {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;mediumType&quot; : &quot;Phone&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&quot;characteristic&quot; : {&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;contactType&quot; : &quot;Phone&quot;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;emailAddress&quot; : null,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;faxNumber&quot; : null,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;phoneNumber&quot; : &quot;(555) 555-1234&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;} ]&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF620</name>
        <label>scrTMF620</label>
        <locationX>736</locationX>
        <locationY>1030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Selection</targetReference>
        </connector>
        <fields>
            <name>dptxtTMFPayload</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF 620 Product Catalog API&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; font-size: 14px;&quot;&gt;Use the TMF620 Product Catalog Management Industry API to provide and manage a catalog of products. You can create a product catalog, add product offerings and specifications, and quote a price for each product offering.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option</name>
            <choiceReferences>CreateProductCatalog</choiceReferences>
            <choiceReferences>CreateProductCategory</choiceReferences>
            <choiceReferences>CreateProductOffering</choiceReferences>
            <choiceReferences>CreateProductSpecification</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF621</name>
        <label>scrTMF621</label>
        <locationX>985</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_your_selection_621</targetReference>
        </connector>
        <fields>
            <name>dptxtTMFPayload_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF 621 Trouble Ticket Management API&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;&quot;&gt;The Trouble Ticket Management API provides a standardised client interface to Trouble Ticket Management Systems. The data exchange is compliant with the TM Forum&apos;s Open API specification&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_Option621</name>
            <choiceReferences>chListallTroubleTickets</choiceReferences>
            <choiceReferences>chRetrieveTroubleTicket</choiceReferences>
            <choiceReferences>chCreateTroubleTicketNew</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF622</name>
        <label>scrTMF622</label>
        <locationX>459</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Selection_TMF_622</targetReference>
        </connector>
        <fields>
            <name>dptxtTMFPayload_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF 622 Product Ordering API&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;&quot;&gt;Use the Product Ordering API to provide and manage products. The data exchange is compliant with the TM Forum&apos;s Open API specification.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option622</name>
            <choiceReferences>chListallProductOrders</choiceReferences>
            <choiceReferences>chGetProductOrder</choiceReferences>
            <choiceReferences>chCreateProductOrder</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF629</name>
        <label>scrTMF629</label>
        <locationX>451</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_your_selection629</targetReference>
        </connector>
        <fields>
            <name>dptxtTMF629</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF 629 Customer Management API&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; background-color: rgb(255, 255, 255);&quot;&gt;The customer management API (TMF 629) provides a standardised mechanism for customer and customer account management, such as creation, update, retrieval and deletion of customers.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option629</name>
            <choiceReferences>ListCustomers</choiceReferences>
            <choiceReferences>CreateCustomer</choiceReferences>
            <choiceReferences>RetrieveCustomer</choiceReferences>
            <choiceReferences>DeleteCustomer</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF637</name>
        <label>scrTMF637</label>
        <locationX>983</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_your_selection_637</targetReference>
        </connector>
        <fields>
            <name>dptxtTMF637Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF 637 Product Inventory Management API&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Product Inventory Management API provides a standardised mechanism for product inventory management such as retrieval of the representation of a product or list of all products in the inventory. &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;&quot;&gt;The data exchange is compliant with the TM Forum&apos;s Open API specification&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option637</name>
            <choiceReferences>getaproduct_637</choiceReferences>
            <choiceReferences>getallproducts_637</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>getaproduct_637</defaultSelectedChoiceReference>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrTMF648</name>
        <label>scrTMF648</label>
        <locationX>457</locationX>
        <locationY>1023</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_your_selection_648</targetReference>
        </connector>
        <fields>
            <name>dptxt648</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF 648 Customer Quote Management API&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use the Quote Management API to create a customer quote as well as to retrieve a customer quote depending on filter criteria.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_Option648</name>
            <choiceReferences>ListQuotes</choiceReferences>
            <choiceReferences>GetQuote</choiceReferences>
            <choiceReferences>CreateQuote</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrUpdateAccount</name>
        <label>scrUpdateAccount</label>
        <locationX>261</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Inbound_API</name>
        <label>Select Inbound API</label>
        <locationX>737</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selection_of_Inbound_API</targetReference>
        </connector>
        <fields>
            <name>dptxtSelectOption</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TMF Inbound APIs&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This is an easy way especially designed for our users to quickly understand the TMF Inbound API.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;In this journey we will ask you to select the specific variation of the API and showcase the record that gets created in the org with a sample example.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rdbtnInboundSelection</name>
            <choiceReferences>TMF620</choiceReferences>
            <choiceReferences>TMF621</choiceReferences>
            <choiceReferences>TMF622</choiceReferences>
            <choiceReferences>TMF637</choiceReferences>
            <choiceReferences>TMF648</choiceReferences>
            <choiceReferences>TMF629</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select the API</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>610</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
